.banner {
  margin: auto;
  max-width: 70%;
  /* padding: 10px; */
  border: none;
  border-radius: 8px;
}
.image-banner {
  border-radius: 8px;
}
.aboutUs {
  margin: auto;
  max-width: 70%;
  height: 200px;
  padding: 10px;
  border: none;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* .box1 img {
    object-fit: cover;
}

.box2 img {
    object-fit: contain;
} */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  margin: 10px, 5px;
}

.row1 {
  content: "";
  clear: both;
  display: table;
}
* {
  box-sizing: border-box;
}
.img-product1 {
  border-radius: 8px;
}
.img-product2 {
  border-radius: 8px;
}
/* img {vertical-align: middle;} */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: tomato;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.image-slideShow {
  margin: auto;
  max-width: 70%;
  height: 600px;
  padding: 30px;
  border: none;
  border-radius: 8px;
}
.part-PINKOC {
  margin: auto;
  max-width: 70%;
  height: 200px;
  padding: 10px;
  border: none;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
