@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}
:root {
  /* //....... Color ........// */
  --primary-color: #ff3c78;
  --light-black: rgba(0, 0, 0, 0.89);
  --black: #000;
  --white: #fff;
  --grey: #aaa;
}

/* //........top text ........// */

.top-txt {
  background-color: var(--black);
}

.head {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.945);
  padding: 10px 0;
  font-size: 14px;
}

.head a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.945);
  margin: 0 10px;
}

/* //........ Navbar ........// */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0 5px 4px rgb(146 161 176 / 15%);
  position: sticky;
  top: 0;
  background: var(--white);
  color: var(--black);
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.navbar .logo a {
  text-decoration: none;
}

.navbar .logo h1 {
  color: rgb(240, 145, 160);
  padding-left: 30px;
  text-decoration: none;
}

.menu-items {
  order: 2;
  display: flex;
  margin-right: 3rem;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.2rem;
}

.menu-items li:hover {
  cursor: pointer;
}

.navbar-container ul a {
  text-decoration: none;
  color: var(--black);
  font-size: 18px;
  position: relative;
}

.navbar-container ul a:after {
  content: "";
  position: absolute;
  background: var(--primary-color);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.navbar-container ul a:hover:after {
  width: 100%;
}

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }
  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }
  .navbar-container {
    display: block;
    position: relative;
    height: 50px;
  }
  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 15px;
    left: 15px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  .navbar-container .hamburger-lines {
    display: block;
    height: 20px;
    width: 30px;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }
  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }
  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }
  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    /* margin-left: -40px;
          padding-left: 40px; */
    text-align: center;
    transition: transform 0.5s ease-in-out;
    /* box-shadow: 5px 0px 10px 0px #aaa; */
    overflow: scroll;
  }
  .navbar .menu-items li {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    font-weight: 500;
  }
  .menu-items li,
  .navbar img {
    margin: 0;
  }
  .navbar .menu-items li:nth-child(1) {
    margin-top: 1.5rem;
  }
  .navbar-container .logo h1 {
    position: absolute;
    top: 0px;
    right: 15px;
    margin-top: 8px;
  }
  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(34.5deg);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-34.5deg);
  }
  .navbar-container input[type="checkbox"]:checked ~ .home_page img {
    display: none;
    background: #fff;
  }
}

@media (max-width: 500px) {
  .navbar-container input[type="checkbox"]:checked ~ .navbar-container img {
    display: none;
  }
}

/* Logout */
.logoutPopup {
  background-color: #4e4e4e;
  width: 200px;
  border-radius: 15px;
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 70px;
  right: 20px;
  visibility: hidden;
  z-index: 10;
}

.logoutPopup .confirm {
  width: 45%;
  background-color: rgb(227, 57, 57);
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white;
  font-weight: bold;
}

.logoutPopup .confirm:hover {
  cursor: pointer;
  background-color: rgb(219, 96, 96);
}

.logoutPopup .cancel {
  width: 45%;
  background-color: rgb(223, 220, 220);
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-weight: bold;
}

.logoutPopup .cancel:hover {
  cursor: pointer;
  background-color: rgb(191, 186, 186);
}
