.productPage_container {
  margin-top: 90px;
  width: 80vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ece5e5;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 40px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.categoryName {
  z-index: 1;
  color: black;
  position: absolute;
  top: -55px;
  display: inline-block;
  left: 0;
  background-color: #ece5e5;
  padding: 10px 30px 10px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.swiper-container {
  width: 50%;
  position: relative;
  overflow: hidden;
}
.swiper-slide {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next:after,
.swiper-button-prev:after {
}

.swiper-button-prev {
  left: 10px;
  color: gray !important;
}

.swiper-button-next {
  right: 10px;
  color: gray !important;
}

.about_product {
  width: 40%;
}

.about_product .description {
  margin-top: 60px;
  line-height: 2;
}

.about_product .color {
  margin-top: 30px;
  line-height: 2;
}

.about_product .size {
  margin-top: 40px;
  line-height: 2;
}

.about_product .size span {
  padding: 0 15px;
  border-left: 1px solid black;
  white-space: nowrap;
  /* border-right: 1px solid black; */
}

/* .about_product .size span:first-child {
  border-left: 2px solid black;
} */

.about_product .size span:last-child {
  border-right: 1px solid black;
}

.about_product .price {
  margin-top: 40px;
  line-height: 2;
}

.about_product .price p {
  font-size: 28px;
  margin-left: 40px;
}

.product_detail p,
.product_detail span {
  color: rgb(88, 85, 85);
}

.about_product .add_cart {
  display: flex;
}

.about_product .add_cart button {
  margin-top: 20px;
  width: 80%;
  padding: 15px;
  background-color: rgb(187, 73, 73);
  color: antiquewhite;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.75s ease;
  border-radius: 5px;
}

.about_product .add_cart button:hover {
  cursor: pointer;
  background-color: rgb(201, 105, 105);
}
