<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <%- include('../partials/header') %>

    <div class="loginContainer">
      <div class="blur"></div>
      <div class="adminForm">
        <h1>Login</h1>
        <form id="formData" method="post" enctype="multipart/form-data">
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Admin username"
          />
          <input
            type="text"
            id="password"
            name="password"
            placeholder="Password"
          />
          <button id="submitLogin" type="submit">Login</button>
        </form>
      </div>
    </div>
    <%- include('../partials/footer') %>

    <script
      src="https://kit.fontawesome.com/b25957ae4f.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/header.js"></script>
    <script src="/js/login.js"></script>
  </body>
</html>
