<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/shopcart.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="container">

      <h2>Shopping Cart</h2>
      <p>3 items</p>
    
      <div class="cart">
    
        <div class="products">
    
          <div class="product">
    
            <img src="https://images.pexels.com/photos/2529147/pexels-photo-2529147.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
    
            <div class="product-info">
    
              <h3 class="product-name">New Shoes</h3>
    
              <h4 class="product-price">₹ 1,000</h4>
    
              <h4 class="product-offer">50%</h4>
    
              <p class="product-quantity">Số lượng: <input value="1" name="">
    
              <p class="product-remove">
    
                <i class="fa fa-trash" aria-hidden="true"></i>
    
                <span class="remove">Xóa</span>
    
              </p>
    
            </div>
    
            
    
          </div>
        
    
          <div class="product">
    
            <img src="https://images.pexels.com/photos/8365688/pexels-photo-8365688.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
    
            <div class="product-info">
    
              <h3 class="product-name">New Bag</h3>
    
              <h4 class="product-price">₹ 2,000</h4>
    
              <h4 class="product-offer">40%</h4>
    
              <p class="product-quantity">Số lượng: <input value="1" name="">
    
              <p class="product-remove">
    
                <i class="fa fa-trash" aria-hidden="true"></i>
    
                <span class="remove">Xóa</span>
    
              </p>
    
            </div>
    
          </div>
    
        </div>
    
        <div class="cart-total">
          <h2 class="title-cartotal">Summary</h2>
    
          <p>
    
            <span>Tổng giá tiền</span>
    
            <span>₹ 3,000</span>
    
          </p>
    
          <p>
    
            <span>Số lượng</span>
    
            <span>2</span>
    
          </p>
    
          <p>
    
            <span>Giảm giá </span>
    
            <span>₹ 1,000</span>
    
          </p>
    
          <div class="options" style="font-family:Poppins, sans-serif; margin-top: 15px">
            <div class="options-color">
              <p>
                <span >Màu sắc</span>
                <span>
                 
                  <button style="width: 50px;">Yellow</button>
                  <button style="width: 50px;">Green</button>
                  <button style="width: 50px;">Black</button>
                  <button style="width: 50px;">Brown</button>
                </span>
                
              </p>
            </div>
            <div class="options-size">
              <p>
                <span>Kích thước</span>
                <span>
                  <button style="width: 30px;">S</button>
                  <button style="width: 30px;">M</button>
                  <button style="width: 30px;">L</button>
                  <button style="width: 30px;">XL</button>
                  <button style="width: 30px;">XXL</button>
                </span>
                
                
              </p>
            </div>
          </div>
    
          <a href="#">Proceed to Checkout</a>
    
        </div>
    
      </div>
    
    </div>
      <div class="backtohomepage">
      <a href="home" class="">Quay trở lại Pinkoc Homepage</a>
      </div>
      

    <%- include('../partials/footer') %>

    <script src="/js/header.js"></script>
    <script src="/js/shopcart.js"></script>
  </body>
</html>
