<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.x.x/css/swiper.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.x.x/js/swiper.min.js"></script>
  </head>
  <body>
    <h1>My Form</h1>

    <div class="adminForm">
      <h1>Login</h1>
      <form id="formData" method="post" enctype="multipart/form-data">
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Admin username"
        />
        <input
          type="text"
          id="password"
          name="password"
          placeholder="Password"
        />
        <button id="submitLogin" type="submit">Login</button>
      </form>
    </div>
    <!-- <form
      id="formData"
      method="POST"
      action="/my-form-handler"
      enctype="multipart/form-data"
    >
      <input
        type="file"
        name="image"
        accept=".jpg,.jpeg,.png"
        placeholder="choose image"
        style="padding-left: 0; padding-right: 0"
      />
      <input
        type="text"
        id="productName"
        placeholder="Product Name"
        name="productName"
      />

      <input
        type="number"
        id="productPrice"
        placeholder="Product Price"
        name="productPrice"
      />
      <input
        type="text"
        id="productStatus"
        placeholder="Product Status"
        name="productStatus"
      />
      <input
        type="text"
        id="productDescription"
        placeholder="Product Description"
        name="productDescription"
      />
      <input
        type="text"
        id="productCategory"
        placeholder="Product Category"
        name="productCategory"
      />
      <button id="submitForm" type="submit">Create</button>
    </form> -->
    <div id="response"></div>
    <script src="/js/uploadsPage.js"></script>
  </body>
</html>
